extends layout

block content
    h1= title
    - let results=[{Cust_Name: "Naresh",Cust_Age:25,Mail_Id:"Naresh@gmail.com"},{Cust_Name: "suresh",Cust_Age:25,Mail_Id:"suresh@gmail.com"},{Cust_Name: "rakesh",Cust_Age:25,Mail_Id:"rakesh@gmail.com"}]
    div.container-fliud
        div.row
            each item,ind in results 
                div(class='col-sm-2' onclick=`buy(${ind})`) 
                    p Name  is #{item.Cust_Name}
                    p Age  is #{item.Cust_Age}
                    p Mail_Id: #{item.Mail_Id}
    each ite,index in results
        p value at index #{index} is : #{ite.Cust_Name},#{ite.Cust_Age},#{ite.Mail_Id}
    script. 
        function buy(i){
            alert("You purchased item "+(i+1))
        }